* {
  font-family: "Open Sans", sans-serif;
}


/*
Having  a background for the picture and colouring in fashionably
*/

div.MeAndMomBackground{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(30deg, rgb(182, 226, 234), rgb(182, 226, 234) 40%, white ) ;
}

/*
The picture is rotated 180 degress and the border is white
*/
div.MeAndMomBackground img.MeAndMom{
  border: 8px solid rgb(237, 237, 237);
  border-radius: 15px;
  margin-top: 15px;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 55px;
}

/*
Have a font
*/
div.MeAndMomBackground div#NameAndSchool  {
  font-family: Georgia;
  margin-left: 350px;
  display: inline-block;
}

div#NameAndSchool p{
  color: #37383b;
}

div.menu{
  margin-top: 5px;
  background-color: rgb(36, 36, 131);
  
}

div.menu ul.choices{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div.menu ul.choices li{
  margin: 15px 25px;
  display:inline-block;
}

/*
Keeping the other stuff option with the same asthetics regardeless of the where
the user is in relation to it
*/
div.menu ul.choices li a:link{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

div.menu ul.choices li a:visited{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

div.menu ul.choices li a:active{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

div.menu ul.choices li a:hover{
  color: white;
  background-color: transparent;
  text-decoration: none;
}

div.menu ul.choices li{
  color:white;
  margin-left: 35px;
}



.body_of_page{
  align-items: center;
  background: linear-gradient(to right bottom, #272829, #37383b, #272829);
  margin:0px;
  padding: 15px;
  /* display: flex; */
  /* flex-direction: row; */
  height: 100vh;
}

/*
The introduction header has these fonts and is aligned in the center
*/
h1.Introduction{
  font-size: 25px;
  color: #eee;
  margin-top: 55px;
  font-weight: .1;
  text-align: center;
}

h3.AboutMe{
  color: #eee;
}

/*
All paragraphs
*/
p{
  font-size: 20px;
  color: #eee;
}
p.AboutMePara{
  font-style: "ComicSansMS";
}
